<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
                <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/chat</property> 
<!--        <property name="connection.url">jdbc:postgresql://ec2-54-217-236-201.eu-west-1.compute.amazonaws.com:5432/ddojvbbva8fu65?sslmode=require</property> -->
        <property name="hibernate.connection.requireSSL">true</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">finished</property>  
<!--        <property name="connection.username">kvecptonvlllal</property>  -->
<!--        <property name="connection.password">9b6ca9cd76347c729d7fc4d9e70d18189e93bdff0af418bc6357e8580c109ab3</property>  -->
        <property name="connection.driver_class">org.postgresql.Driver</property>  
        <property name="hibernate.connection.release_mode">after_transaction</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.timeout">1</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">10</property>
        
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        
        <mapping class="com.mycompany.letterservice.entity.User"/> 
        <mapping class="com.mycompany.letterservice.entity.Account"/> 
        <mapping class="com.mycompany.letterservice.entity.Message"/> 
    </session-factory> 
    
</hibernate-configuration>