<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.url">jdbc:postgresql://ec2-46-137-97-169.eu-west-1.compute.amazonaws.com:5432/dbj7h53rkvtp1e?sslmode=require</property>  
        <property name="connection.username">foultvhxdrzrau</property>  
        <property name="connection.password">6035fefb6558100e99d0061dca440fa400daa3af5914ce9d237a0a2f8de4f76d</property>  
        <property name="connection.driver_class">org.postgresql.Driver</property>  
        <property name="hibernate.connection.release_mode">after_transaction</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.timeout">1</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">10</property>
        
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
        <mapping class="com.mycompany.letterservice.entity.User"/> 
        <mapping class="com.mycompany.letterservice.entity.Account"/> 
        <mapping class="com.mycompany.letterservice.entity.Message"/> 
    </session-factory> 
    
</hibernate-configuration>