/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2017, 5:08:10 PM
    Author     : nekres
*/
body{
    background: url(http://www.gandex.ru/upl/oboi/gandex.ru-13546_12b7b7e6b25cbcf31bbf7afbf2e90fa3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
     background-size: cover;
}
.cmessages{
    display:inline-block;
    overflow: scroll;
    padding: 2px;
    border: 2px solid white;
}
#u_button{
    width: 400px;
    border-color: black;
    font-family: cursive;
   
}
#header{
    font-family: 'Indie Flower', cursive;
    font-size:35pt;
    color: white;
    position: fixed;
    top:0px;
    width: 100%;
    height: 1%;
    left: 0px;
}
#avatar{
  border:1px solid black;
  position: relative;
  overflow: hidden;
  max-height: 25%;
  max-width: 100%;
  margin: 0;
}
#avatar_img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {   
    body{
    	background: url(../808843554.jpg);
        background-size: cover;
    } 
}

