/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2017, 5:08:10 PM
    Author     : nekres
*/
body{

    background-color: #91ab6d;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 10px;
}
.cmessages{
    display:block;
    overflow: scroll;
    font-family: monospace;
    color:#48d8a0;
    border: 2px solid #272b38;
    background-color: #272b38;
    position: inherit; 
    height: 450px;
    padding: 0;
    border-radius: 5px;
}
#u_button{
    width: 400px;
    border-color: black;
    font-family: cursive;
}
p{
}
#header{
    font-size:22pt;
    color: white;
    background-color: gray;
    padding: 0px;
    border: 1px solid black;
}
#greeting{
    font-size: 15pt;
    border:1px solid white;
}
/*#userlist{
    background: url("https://pp.userapi.com/c626924/v626924615/2f247/k9I_Q8eX-4A.jpg");
}*/
#avatar_img{
    width: 100%;
    height: 100%;
}
.general_pic{
    content:url("https://pp.userapi.com/c626419/v626419615/6c7a1/dCMcjopQ7y4.jpg");
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 768px) {   
    body{
        background: url(../808843554.jpg);
        background-size: cover;
    } 
    .general_pic{
        content:url("https://pp.userapi.com/c626924/v626924615/2f247/k9I_Q8eX-4A.jpg");
        max-width: 100%;
    height: auto;
    }
}
#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #272b38;
}

#messages::-webkit-scrollbar
{
	width: 12px;
	background-color: #272b38;
}

#messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#message_body_field{
    background-color: #555;
    color:#48d8a0;
    height:100%;
}


#userlist::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #272b38;
}

#userlist::-webkit-scrollbar
{
	width: 12px;
	background-color: #272b38;
}

#userlist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
